*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
background-image: url("./asset/img/body.png");

}
nav{
    /* background-color:rgba(255, 255, 255, 0.932); */
    
    height:80px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(218, 213, 213);
    align-items: center;
    background-color: #43d317;
}

nav ul{
    display: flex;
    align-items: center;

}

ul li{
padding: 10px;
}


li{
    list-style: none;
}


.logo img{
    width:80px;
    padding: 10px;
}


.mario_pixel img {
    width:40px;
}

.mario_new img{
    width:35px;
}
.jeux img{
    width:40px;
}


h1{
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    padding-top: 70px;
      
}

.etoile img{
    width: 3em;    
   
}
.etoile{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

h2{
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    padding-top: 50px;

}
.mot li  {
    display: inline-block;
} 


.mot li:nth-child(1) { color: red; }
.mot li:nth-child(2) { color: #43d317; }
.mot li:nth-child(3) { color: yellow; }
.mot li:nth-child(4) { color: blue; }
.mot li:nth-child(5) { color: #43d317; }


.animation{
    width: 100%;
    position: fixed;
    bottom: 0;
   
   
}

.ciel, .route, .parc, .nuage{
    position: relative;
}



.ciel{
    /* background-color: rgb(73, 209, 250); */
    height: 10em;
    width: 100%;
    margin-top: 90px;
}

.parc{
    /* background-color: rgb(24, 192, 80); */
    background: rgb(108,232,120);
    background: linear-gradient(-90deg, rgba(108,232,120,1) 0%, rgba(44,255,0,1) 100%);
    height: 7em;
    width: 100%;
}

.route{
    background-color: rgba(143, 132, 132, 0.74);
    height: 6em;
    width: 100%;
    box-sizing:border-box ;
}

.ligne{
    border: 3px dashed #ffff;
    position: absolute;
    width: 100%;
    height: 0%;
    top: 50%;
}


/* MARIO ANIMATION*/

.mario{
    height: 5em;
    position:absolute;
    top:-2em;
    animation-name: drive;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-duration: 6s; 
    animation-fill-mode: both;
}

@keyframes drive {
    from {transform: translateX(-200px)}
    to   {transform:translateX(1500px)}
}



/* BULLET ANIMATION */

.ciel img {
    transform: rotateX(100deg);   /*changer de sens le bullet */
    height: 3em;                   /*changement de taille niveau hauteur*/
    position: absolute;
    top:3em;            /* positionnement du bullet dans le ciel */   
} 



.bullet{
    animation-name: fusee; /*on donne un nom à l'animation*/
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-duration: 4s; 
    animation-fill-mode: both;
   
}

.bullet1{
    animation-name: fusee; /*on donne un nom à l'animation*/
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-duration: 5s; 
    animation-fill-mode: both;
   
}



@keyframes fusee{
    from {transform: translateX(1)}
    to   {transform:translateX(1500px)}
}


.tortue{
    height: 4em;
    position:absolute;
    top:-0.8em;
    left: 1em;
    animation-name: drive;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-duration: 4s; 
    animation-fill-mode: both;
}